
body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg-2);
}

.btn-warning {
    color: var(--lp-primary-text);
    background-color: var(--lp-primary-bg);
    border-color: var(--lp-primary-border);
    outline: none !important;
}

.btn-warning:active {
    color: var(--lp-primary-text);
    background-color: var(--lp-primary-active) !important;
    border-color: var(--lp-primary-active) !important;
    outline: none !important;
}

.btn-warning:hover {
    color: var(--lp-primary-text);
    background-color: var(--lp-primary-active);
    border-color: var(--lp-primary-active);
    outline: none !important;
}

.pace .pace-progress {
    background-color: var(--lp-primary-bg);
}


.form-check-input:checked[type="checkbox"]:checked {
    background-color: var(--lp-primary-active);
    border-color: var(--lp-primary-active);
}

.form-check-input[type="checkbox"]+.form-check-label::before {
    background-color: green;
}

.form-check-input[type="checkbox"]:focus {
    /*outline: none;*/
}











/* Header */

.top-header .navbar {
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}

.simplebar-scrollbar:before {
	background-color: var(--bs-simplebar);
}

.top-header .navbar .top-right-menu .nav-item .nav-link,
.top-header .navbar .btn-toggle-menu {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}

.search-bar input[disabled] {
    background-color: var(--bs-body-bg);
}


.dropdown-large .msg-header,
.dropdown-large .msg-footer,
.dropdown-large .dropdown-menu .dropdown-item,
.dropdown-large .dropdown-menu,
.top-header .navbar .dropdown-app .dropdown-menu {
    border-color:var(--bs-border-color-translucent);

}


.dropdown-large .msg-footer,
.dropdown-large .msg-header .msg-header-clear,
.dropdown-large .msg-header .msg-header-title,
.top-header .navbar .dropdown-app .dropdown-menu .app-name {
    color: var(--bs-body-color);
}

.top-header .navbar .dropdown-app .dropdown-menu .app-box:hover {
    background-color: #363a3f;
}



.top-header .navbar .dropdown-large .dropdown-menu::after,
.top-header .navbar .dropdown-app .dropdown-menu::after {
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}


.popup-search input::placeholder{
	color: #ffffff !important;
}





/* sidebar */


.sidebar-wrapper .sidebar-nav,
.sidebar-wrapper .sidebar-header,
.sidebar-wrapper .sidebar-bottom,
.sidebar-wrapper {
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}



.sidebar-wrapper .sidebar-bottom .user-info .user-name {
    color: var(--bs-light-text);
}

.sidebar-wrapper .sidebar-bottom .user-info .user-designation {
    color: var(--bs-body-color);
}

.sidebar-wrapper .sidebar-bottom .dropdown-menu {
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent);
}



.sidebar-wrapper .metismenu a {
    color: var(--bs-body-color);
}

.sidebar-wrapper .metismenu .mm-active>a {
	color: #0d6efd;
	font-weight: 600;
}

.sidebar-wrapper .metismenu a .parent-icon {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}

.sidebar-wrapper .metismenu .mm-active>a .parent-icon,
.sidebar-wrapper .metismenu a:hover .parent-icon,
.sidebar-wrapper .metismenu a:focus .parent-icon,
.sidebar-wrapper .metismenu a:active .parent-icon {
	color: #ffffff;
    text-decoration: none;
    background: #0d6efd;
    border-color: #0d6efd;
	transition: ease-out .3s;
}


.sidebar-wrapper .metismenu ul {
    background-color: var(--bs-body-bg);
}


.customer-table .customer-name {
    color: var(--bs-dark-text);
}



.table-light {
    --bs-table-color: #fff;
    --bs-table-bg: #303539;
    --bs-table-border-color: #495057;
}




/* email */

.email-wrapper,
.email-sidebar,
.email-sidebar-header,
.email-navigation a.list-group-item,
.email-meeting a.list-group-item{
    background-color: var(--bs-body-bg);

}

.email-sidebar {
    border-color:var(--bs-border-color-translucent)
}

.email-navigation a.list-group-item:hover {
	background-color: var(--bs-light-2);
}

.email-navigation a.list-group-item.active {
	color: #0b5ed7;
	font-weight: 600;
	background-color: rgb(13 110 253 / .12)
}


.email-header  {
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)

}


.email-meeting a.list-group-item,
.email-navigation a.list-group-item {
    color: var(--bs-body-color);
}

.btn-white {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}

.email-list div.email-message {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}


.email-list div.email-message:hover {
	background-color: var(--bs-light-2);
}


.btn-light {
    color: var(--bs-body-color);
    background-color: var(--bs-light-bg-subtle);
    border-color:var(--bs-border-color-translucent)
}


.bg-light {
	background-color: #32363b !important;
}




/* chat box */

.chat-wrapper,
.chat-sidebar,
.chat-sidebar-header,
.chat-header,
.chat-footer {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}



.chat-sidebar-header,
.chat-header,
.chat-sidebar {
    border-color:var(--bs-border-color-translucent)
}


.chat-title {
    color: var(--bs-light-text);
}

.chat-msg,
.chat-time,
.chat-tab-menu li a.nav-link {
    color: var(--bs-body-color);
}


.chat-list .list-group-item:hover,
.chat-list .list-group-item.active {
    background-color: var(--bs-light-2);
}



.chat-top-header-menu a,
.chat-footer-menu a,
.chat-toggle-btn {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}


.chat-content-leftside .chat-left-msg {
    background-color: var(--bs-light-2);
}


.chat-content-rightside .chat-right-msg {
    color: var(--bs-info-text);
    background-color: var(--bs-primary-bg-subtle);
}


.fm-menu .list-group a {
    color: var(--bs-body-color);
}

.fm-menu .list-group a:hover {
    color: var(--bs-light-text);
    background-color: var(--bs-light-bg-subtle);
}

.fm-file-box {
    background-color: var(--bs-light-bg-subtle);
}


.contacts-social a {
    background-color: var(--bs-light-2);
    border-color:var(--bs-border-color-translucent)
}


.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
    border-color:var(--bs-border-color-translucent)
}


.fc .fc-button-primary {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent)
}


.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent)
}

.fc .fc-non-business {
    background-color: var(--bs-body-bg-2);
}



.w_percent {
    color: var(--bs-body-color);
}


.ff_fileupload_wrap .ff_fileupload_dropzone {
    background-color: var(--bs-body-bg-2);
}


.nav-pills .nav-link {
    color: var(--bs-body-color);
    border-color:var(--bs-border-color-translucent)
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-light-text);
}


.product-table .product-tags .btn-tags {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg-2);
    border:1px solid;
    border-color:var(--bs-border-color-translucent);
}

.product-title {
	color: var(--bs-light-text);
}

.product-category {
	color: var(--bs-body-color);
}


.product-rating {
	color: var(--bs-light-text);
	background-color: var(--bs-body-bg-2);
	border-color:var(--bs-border-color-translucent);
}

.nav-tabs .nav-link {
    color: var(--bs-body-color);
}


.nav-primary.nav-tabs .nav-link.active {
    color: #008cff;
    border-color: #008cff #008cff rgba(255, 255, 255, 0.0);
}


.nav-danger.nav-tabs .nav-link.active {
    color: #f41127;
    border-color: #f41127 #f41127 rgba(255, 255, 255, 0.0);
}


.nav-success.nav-tabs .nav-link.active {
    color: #17a00e;
    border-color: #17a00e #17a00e rgba(255, 255, 255, 0.0);
}

.nav-warning.nav-tabs .nav-link.active {
    color: #ffc107;
    border-color: #ffc107 #ffc107 rgba(255, 255, 255, 0.0);
}


.theme-icons {
    background-color: var(--bs-body-bg);
}


.bootstrap-tagsinput {
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}


.bs-stepper .step-trigger {
    color: var(--bs-body-color);
}


.bs-stepper-circle {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}

.active .bs-stepper-circle {
    color: #ffffff;
    background-color: var(--bs-primary);
}


.bs-stepper-line,
.bs-stepper .line {
    background-color: var(--bs-border-color-translucent);
}

.bs-stepper.vertical .bs-stepper-header {
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent);
}


.imageuploadify {
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent);
}


.flatpickr-calendar {
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent);
}

.flatpickr-months .flatpickr-month {
    color: var(--bs-body-color);
}


.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    color: var(--bs-body-color);
}

span.flatpickr-weekday {
    color: var(--bs-body-color);
}

.flatpickr-day {
    color: var(--bs-body-color);
}


.select2-container--bootstrap-5 .select2-selection {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}


.select2-container--bootstrap-5 .select2-dropdown {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}


.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: var(--bs-light-2);
    color: var(--bs-body-color);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--bs-border-color-translucent);
}


.select2-container--bootstrap-5.select2-container--disabled .select2-selection,
.select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    color: var(--bs-body-color);
    background-color: var(--bs-light-2);
    border-color:var(--bs-border-color-translucent);
}



.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: var(--bs-body-color);
    border-color:var(--bs-border-color-translucent);
}


.auth-cover-right {
    background-color: var(--bs-body-bg);
}



.btn-option {
    color: var(--bs-body-color)
}